<div class="row">
    <div class="col-lg-8">
        <div *ngFor='let account of accounts'>              
            <div *ngIf= 'account.accountType==="checkings"'>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-comments fa-3x"></i>
                        <h2>Checkings Balance</h2>                
                    </div>
                    <div class="card-body">
                        <h2> <i class="fa fa-usd" aria-hidden="true"></i>
                                {{account.balance}} </h2>   
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="col-lg-8">
        <div *ngFor='let account of accounts'>              
            <div *ngIf= 'account.accountType==="savings"'>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-comments fa-3x"></i>
                        <h2>Savings Balance </h2>                
                    </div>
                    <div class="card-body">
                        <h2> <i class="fa fa-usd" aria-hidden="true"></i>
                                {{account.balance}} </h2> 
                            <div>
                                <span class="pull-right">
                                <div class="form-group row-mb-2">   
                                    <div class="offset-md-2 col-md-4">
                                    <button class="btn btn-outline-primary"
                                                type="submit"
                                                onclick="getStatement()"
                                                style="width:200px">Download statement
                                    </button>
                                    </div>
                                </div>
                            </span>

                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
  

