<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['transfer']">Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['statement']">Statement</a>
        </li>
      </ul>
        
      
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Me
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['customerdetails']">Profile</a>
            <a class="dropdown-item" [routerLink]="['']" >Logout</a>
          </div>
        </li>
      </ul>
      
    </div>
    
  </nav>

  <div class="container">
  <router-outlet></router-outlet>
  </div>

  
 
  
   


  